extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      each pizza in pizzas
        .card
          .card-block
            h4
              a(href='/pizza/plocation')= pizza.name
              +outputRating(pizza.rating)
              span.badge.badge-pill.badge-default.float-right= pizza.distance
            p.address= pizza.address
            .facilities
              each facility in pizza.facilities
                span.badge.badge-warning= facility


    .col-12.col-md-4
      p.lead= sidebar